body {
  text-align: justify;
}

h1 {
  text-align: center;
  color: black;
  padding: 50px 50px 20px 50px;
}

h2 {
  color: blue;
  text-align: center;
}

.horizontal-line {
  border: none;
  height: 2px;
  background-color: gray;
  width: 100%;
}

ol {
  text-align: center;
}

li {
  list-style: decimal;
  color: black;
  text-align: center;
  margin: 10px 20% 2% 20%;
}

#john {
  text-align: center;
  margin: 10px 30% 10px 30%;
}

.italic {
  font-style: italic;
}

#jeff {
  display: flex;
  justify-content: center;
  align-items: center;
}

img {
  width: 150px;
  height: 100px;
}
