body {
  text-align: center;
  margin: 10px 25% 2% 25%;
  max-width: 500px;
}

h1 {
  text-align: center;
}

h2 {
  color: blue;
  text-align: center;
  font-size: 20px;
}

.horizontal-line {
  border: none;
  height: 2px;
  background-color: gray;
}

ol {
  text-align: center;
}

li {
  list-style: decimal;
  text-align: center;
}

#john {
  text-align: center;
}

.italic {
  text-align: left;
  font-style: italic;
}

#jeff {
  display: flex;
  justify-content: center;
  align-items: center;
}

img {
  width: 150px;
  height: 100px;
}

.dark-mode {
  background-color: black;
  color: white;
}

#theme-select {
  position: fixed;
  top: 10px;
  left: 10px;
}
