body {
  text-align: justify;
}

h1 {
  text-align: center;
  color: black;
  padding: 50px 50px 20px 50px;
}
h2 {
  color: blue;
  text-align: center;
}
.horizontal-line {
  border: none;
  height: 2px;
  background-color: gray;
  width: 100%;
}
ol {
  text-align: center;
  padding: 10px 10px 10px 100px;
}

li {
  list-style: decimal;
  color: black;
  padding: 10px 10px 10px 10px;
  text-align: center;
}

.italic {
  font-style: italic;
}
img {
  width: 150px;
  height: 100px;
  display: flex;
  justify-content: center;
  align-items: center;
}
