div {
  height: 200px;
  width: 200px;
  background-color: blue;
  margin: 15px;
}
body {
  display: flex;
  flex-direction: column;
  align-items: center;
}

@media screen and (min-width: 700px) {
  body {
    flex-direction: row;
    justify-content: center;
    gap: 10%;
  }
  div {
    height: 300px;
    width: 300px;
    background-color: red;
  }
}
