body {
  font-family: Roboto, sans-serif;
}
header,
main,
footer {
  max-width: 1000px;
  margin: 1rem auto;
  border: 1px solid #ccc;
  padding: 1rem;
  background-color: rgb(107, 107, 238);
}
h1 {
  text-align: center;
}
section {
  padding: 20px;
  background-color: white;
  margin: 1em;
  border: 1px solid #ccc;
}
nav a {
  padding: 20px;
  color: black;
  display: none;
}
nav a:hover {
  text-decoration: none;
  color: #616061;
}
.menu-btn {
  cursor: pointer;
  border: none;
  background-color: transparent;
}
footer {
  text-align: center;
}
@media screen and (min-width: 700px) {
  @import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap");
  nav a {
    display: inline;
  }
  nav {
    display: flex;
    justify-content: right;
  }
  .menu-btn {
    display: none;
  }
  main {
    flex-wrap: wrap;
    display: flex;
    justify-content: space-between;
  }

  section {
    max-width: 40%;
  }
}
@media screen and (min-width: 1200px) {
  section {
    max-width: 25%;
  }
  main {
    flex-wrap: nowrap;
    flex-direction: row;
  }
}
